@charset "utf-8";

/*
   Tables Style Sheet
   Author: Julio Garcia 
   Date:  04/30/2023 

   Filename: hwc_tables.css
*/

/* Table Styles */
table.schedule {
	background: white;
	border: 10px outset gray;
	font-size: 0.75em;
	width: 100%;
}

/* Table Cell Styles */
table.schedule th, table.schedule td {
	border: 1px solid gray;
	padding: 10px;
	vertical-align: top;
}

table.schedule td > div {
	padding-bottom: 5px;
}

/* Row Group Styles */
table.schedule thead {
	background: rgb(48,25,52);
	color: white;
}

table.schedule thead tr {
	height: 30px;
}

table.schedule tbody tr {
	height: 40px;
}

table.schedule tfoot {
	background: rgb(48,25,52);
	color: white;
}

/* Column Group Styles */
col#firstCol {
	background: rgb(53, 57, 53);
	width: 10%;
}
col.dayCols {
	background: rgb(203, 195, 227);
	width: 16%;
}